#contentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
    height: 100%;
}

/**
* EDITOR
*/
#editorContainer {
    position: relative;
    flex: 1;
}

#editor {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/**
* MENU
*/
#menu > .button {
    border-top: 1px solid rgba(34,36,38,.15);
    padding: 1em 1em;
    cursor: pointer;
    background-color: transparent;
}

#menu > .button:last-child {
    border-bottom: 1px solid rgba(34,36,38,.15);
}

#menu > .button:hover {
    background-color: rgba(34,36,38,.15);
}

#menu > .button > .icon {
    margin-left: -1em;
    color: black !important;
}

#menu {
    overflow: hidden;
    white-space: nowrap;
    width: 1.2em;
    color: transparent;
    transition: width 0.4s ease, color 0.1s ease 0.1s;
}

#menu:hover {
    width: 13%;
    color: inherit;
}
