<div id="contentContainer">
    <div id="menu">
        <div class="button" ng-click="getPreview()">
            <i class="video play outline icon"></i>
            <span>Previsualizar</span>
        </div>
        <div class="button" ng-click="openModal()" ng-class="{ disabled: !modal }">
            <i class="save icon"></i>
            <span>Guardar</span>
        </div>
    </div>
    <div id="editorContainer">
        <pre id="editor"></pre>
    </div>

    <div id="previewPanel">
        <div id="previewLoader" class="ui inverted segment">
            <div class="ui active inverted loader" ng-show="previewCompiling"></div>
            <div class="errorLogo" ng-show="previewError">
                <img src="assets/scull.svg" width="100px" height="100px">
                <br>
                <br>
                <button class="ui inverted red button">Hay un error en tu codigo !</button>
            </div>
        </div>
        <div id="previewIframeWrapper">
            <iframe id="previewIframe" src="empty_sketch.html"></iframe>
        </div>
    </div>
    <div id="save-modal" class="ui modal">
        <div class="header">Guardar Sketch</div>
        <div class="content">
            <div class="ui segments">
                <div class="ui segment">
                    Titulo:
                    <span class="ui icon transparent input">
                        <input id="titleInput" type="text" placeholder="my awesome sketch" ng-model="title" required>
                    </span>
                    <div ng-if="showNoTitleMessage">
                        Agrega un titulo
                    </div>
                </div>
                <div class="ui secondary segment">
                    <div class="ui right labeled left icon input">
                        <i class="tags icon"></i>
                        <input type="text" placeholder="Enter tags" ng-model="tag">
                        <a class="ui tag label" ng-click="addTag()">
                            Agrega un Tag
                        </a>
                    </div>
                    <div class="ui toggle checkbox" ng-show="showPremiumFeatures">
                        <input type="checkbox" name="public" ng-model="isPrivateSketch">
                        <label>{{ sketchStateMsg() }}</label>
                    </div>
                    <div class="ui divider"></div>
                    <div class="ui labels">
                        <a class="ui tag label" ng-click="removeTag($index)" ng-repeat="tag in tags track by $index">{{tag}}<i class="delete icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui approve button" ng-class="{ disabled: !canSave() }">Guardar</div>
            <div class="ui cancel button">Cancelar</div>
        </div>
    </div>
</div>