.github.alternate.icon:hover {
  color: cornflowerblue
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#main {
  flex: 1;
  margin-bottom: 0;
  padding: 0;
}

#footer {
  text-align: center;
  vertical-align: middle;
  border-top: 2px solid rgba(34,36,38,.15);
}

.gallery-container, .social-container {
  border-bottom: 0 !important;
}

.no-users {
  text-align: center;
  font-size: x-large;
  margin-top: 5%;
}