<link rel="stylesheet" href="gallery/gallery.css">
<div class="ui attached menu ">
    <div class="ui category search item">
        <div class="ui transparent icon input">
            <input id="search" class="prompt" type="text" placeholder="Buscar por tag o nombre" ng-model="textSearch">
            <i class="search link icon large" ng-click="search()"></i>
        </div>
    </div>
    <!--<div class="item">-->
        <!--<div class="ui labeled icon top right pointing dropdown">-->
            <!--<i class="filter icon"></i>-->
            <!--<span class="text">Orden</span>-->
            <!--<div class="menu">-->
                <!--<div class="header">-->
                    <!--<i class="tags icon"></i>-->
                    <!--Ordernar por-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<div class="ui red empty circular label"></div>-->
                    <!--Mas populares-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<div class="ui blue empty circular label"></div>-->
                    <!--Mas nuevos-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<div class="ui black empty circular label"></div>-->
                    <!--Mas vistas-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="item">-->
        <!--<div class="ui labeled icon top right pointing dropdown">-->
            <!--<i class="filter icon"></i>-->
            <!--<span class="text">Filtros</span>-->
            <!--<div class="menu">-->
                <!--<div class="header">-->
                    <!--<i class="calendar icon"></i>-->
                    <!--Filtrar por fecha-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<i class="olive circle icon"></i>-->
                    <!--Esta semana-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<i class="violet circle icon"></i>-->
                    <!--Este mes-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<i class="orange circle icon"></i>-->
                    <!--Este año-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="ui content item">
        Sketches&nbsp;
        <div id="date" class="ui inline dropdown">
            <div class="text">desde el comienzo</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <!--<div class="header">En el periodo</div>-->
                <div class="item" data-text="hoy">hoy</div>
                <div class="item" data-text="esta semana">esta semana</div>
                <div class="item" data-text="este mes">este mes</div>
                <div class="item" data-text="este anio">este anio</div>
                <div class="item active" data-text="desde el comienzo">desde el comienzo</div>
            </div>
        </div>
    </div>
</div>
<div class="ui attached segment gallery-container">
    <div class="ui medium cards">

        <div class="ui card sketch-card" ng-repeat="sketch in sketches track by $index">
            <div class="blurring dimmable image">
                <div class="ui dimmer transition hidden sketch-box">
                    <div class="content">
                        <div class="center sketch-icons">
                            <h2 class="ui inverted header">{{sketch.title}}</h2>
                            {{ sketch.totalLikes }}
                            <i class="heart big icon sketch-icon" ng-class="{ empty: !sketch.isLiked }" ng-click="switchLike(sketch)"></i>
                            <i class="share alternate big icon sketch-icon" data-clipboard-text="{{ shareLink(sketch._id) }}"></i>
                            <i class="pencil big icon sketch-icon" ng-if="canEdit(sketch)" ng-click="edit(sketch)"></i>
                            <!--Add starring (personal like, other users do not see it) -->
                            <!--<i class="empty star icon sketch-icon"></i>-->
                            <i class="empty github big alternate sketch-icon"></i>
                            <i class="trash icon big sketch-icon" ng-if="canRemove(sketch)" ng-click="delete(sketch)"></i>
                        </div>
                    </div>
                </div>
                <img class="bordered ui image thumbnail" ng-src="{{ sketch.shownThumbnail }}">
            </div>
        </div>
        <strong class="no-sketches-message" ng-if="!sketches.length">
            Todavía no tenés sketches. Empezá por <a href="/#!editor">editar uno</a>!
        </strong>

    </div>
</div>
<div id="confirm-delete-modal" class="ui modal mini">
    <div class="header">Delete Sketch</div>
    <div class="content">
        Seguro que deseas eliminar el sketch?
    </div>
    <div class="actions">
        <div class="ui approve button">Eliminar</div>
        <div class="ui cancel button">Cancelar</div>
    </div>
</div>