<link rel="stylesheet" href="gallery/gallery.css">
<div class="ui medium cards">

    <div class="ui card" ng-repeat="sketch in sketches track by $index">
        <div class="blurring dimmable image">
        <div class="ui dimmer transition hidden sketch-box">
            <div class="content">
                <div class="center">
                    <h2 class="ui inverted header">{{sketch.title}}</h2>
                    <i class="pencil icon sketch-icon" ng-if="canEdit(sketch)" ng-click="edit(sketch)"></i>
                    <i class="heart icon sketch-icon" ng-class="{ empty: !sketch.isLiked }" ng-click="switchLike(sketch)"></i>
                    <i class="empty star icon sketch-icon"></i>
                    <i class="empty github alternate sketch-icon"></i>
                    <i class="remove icon sketch-icon" ng-if="canRemove(sketch)" ng-click="delete(sketch)"></i>
                </div>
            </div>
        </div>
        <img class="bordered ui image" ng-src="{{ sketch.path || 'assets/no-preview.png' }}">
        </div>
    </div>

</div>
<div id="confirm-delete-modal" class="ui modal">
    <div class="header">Delete Sketch</div>
    <div class="content">
        Are you sure?
    </div>
    <div class="actions">
        <div class="ui approve button">Delete</div>
        <div class="ui cancel button">Cancel</div>
    </div>
</div>