.sketch-icon {
  cursor: pointer;
  color: white !important;
}

.no-sketches-message {
    width: 100%;
    text-align: center;
    font-size: x-large;
    margin-top: 5%;
}

.ui.card > .image > img.thumbnail, .ui.cards > .card > .image > img.thumbnail {
    height: 222px;
}
