<link rel="stylesheet" href="social/index.css">
<div class="ui attached menu ">
  <div class="ui category search item">
    <div class="ui transparent icon input">
      <input id="search" class="prompt" type="text" placeholder="Buscar amigos" ng-model="textSearch">
      <i class="search link icon large" ng-click="search()"></i>
    </div>
  </div>
</div>
<users-list
  ng-if="searchedUsers"
  users="searchedUsers"
  title="Resultados para '{{searchedText}}':"
  no-users-message="No hay resultados para '{{searchedText}}'."
  on-follow="switchFollow">
</users-list>
<users-list
  ng-if="followeds.length"
  users="followeds"
  title="Seguidos"
  on-follow="switchFollow">
</users-list>
<div class="ui medium no-users">
  <strong ng-if="!followeds && !searchedUsers">
    Busca amigos y empeza a seguirlos
  </strong>
<div>