<link rel="stylesheet" href="social/index.css">
<div class="ui attached menu ">
  <div class="ui search item">
    <div class="ui transparent icon input">
      <input id="search" class="prompt" type="text" placeholder="Buscar amigos" ng-model="textSearch">
      <i class="search link icon large" ng-click="search()"></i>
    </div>
      <div class="results ui middle aligned divided list"></div>
      <!--<users-list-search-->
              <!--ng-if="searchedUsers || loadingSearchedUsers"-->
              <!--users="searchedUsers"-->
              <!--no-users-message="No hay resultados para '{{searchedText}}'."-->
              <!--on-follow="switchFollow"-->
              <!--on-user-click="goToGallery"-->
              <!--loading="loadingSearchedUsers">-->
      <!--</users-list-search>-->
  </div>
</div>
<users-list
  ng-if="followeds.length || loadingFolloweds"
  users="followeds"
  title="Seguidos"
  on-follow="switchFollow"
  on-user-click="goToGallery"
  loading="loadingFolloweds">
</users-list>
<div class="ui medium no-users">
  <strong ng-if="!followeds.length && !searchedUsers && !loadingSearchedUsers && !loadingFolloweds">
    Busca amigos y empeza a seguirlos
  </strong>
<div>